Repository openstack/manila-image-elements: changes, and which Zuul jobs are due for each by the changed paths.
All: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

.zuul.yaml:

- project:
    templates:
      - check-requirements
      - build-openstack-sphinx-docs
      - openstack-lower-constraints-jobs
    check:
      jobs:
        - openstack-tox-pep8
        - manila-image-elements-buildimage-generic
        - manila-image-elements-buildimage-docker:
            voting: false
        - manila-tempest-dsvm-container-scenario-custom-image:
            voting: false
            irrelevant-files:
              - ^(test-|)requirements.txt$
              - ^setup.cfg$
        - manila-tempest-dsvm-generic-scenario-custom-image:
            voting: false
            irrelevant-files:
              - ^(test-|)requirements.txt$
              - ^setup.cfg$
    gate:
      jobs:
        - openstack-tox-pep8
        - manila-image-elements-buildimage-generic
    post:
      jobs:
        - manila-image-elements-publish-artifacts

- job:
    name: manila-image-elements-buildimage-docker
    description: |
      Build docker image for the "container" manila back end.
    parent: unittests
    timeout: 1800
    required-projects:
      - openstack/manila-image-elements
    run: playbooks/manila-buildimage-docker/run.yaml

- job:
    name: manila-image-elements-buildimage-generic
    description: |
      Build service image for the "generic" manila back end.
    parent: unittests
    timeout: 1800
    required-projects:
      - openstack/manila-image-elements
    run: playbooks/manila-buildimage-generic/run.yaml

- job:
    name: manila-image-elements-publish-artifacts
    description: |
      Build image artifacts and publish to tarballs.openstack.org
    parent: publish-openstack-artifacts
    timeout: 3600
    final: true
    required-projects:
      - openstack/manila-image-elements
    run: playbooks/manila-buildimage-generic/run.yaml
    post-run: playbooks/manila-publish-artifacts/post.yaml

zuul.d/project.yaml:

- project:
    templates:
      - check-requirements
      - build-openstack-docs-pti
      - openstack-lower-constraints-jobs
    check:
      jobs:
        - openstack-tox-pep8
        - manila-image-elements-buildimages
        - manila-image-elements-buildimage-docker
        - manila-tempest-dsvm-container-scenario-custom-image:
            voting: false
            irrelevant-files: &irrelevant-files
              - ^(test-|)requirements.txt$
              - ^setup.cfg$
              - ^.*\.rst$
              - ^doc/.*$
              - ^tox.ini$
        - manila-image-elements-generic-scenario:
            voting: false
            irrelevant-files: *irrelevant-files
    gate:
      jobs:
        - openstack-tox-pep8
        - manila-image-elements-buildimages
    post:
      jobs:
        - manila-image-elements-publish-artifacts

Switch ubuntu image to Focal Fossa (20.04 LTS)
  bin/manila-image-create
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Ignore *.service files when linting bash scripts
  tools/run_bashate.sh
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Add doc/requirements
  doc/requirements.txt
  test-requirements.txt
  tox.ini
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image

Remove lower-constraints job
  lower-constraints.txt
  tox.ini
  zuul.d/project.yaml
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Add OpenLDAP to manila-docker-container
  data/docker/Dockerfile
  data/docker/slapd.sh
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Allow empty MANILA_PASSWORD to harden security
  bin/manila-image-create
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Fix typo for manilauser-ssh-authorized-keys
  elements/manila-ssh/install.d/50-manila-user
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Allow to set MANILA_USER_AUTHORIZED_KEYS
  bin/manila-image-create
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Fix setup.py and setup.cfg deprecations
  setup.cfg
  setup.py
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Switch ubuntu image to Jammy Jellyfish
  bin/manila-image-create
  elements/manila-centos-minimal/package-installs.yaml
  elements/manila-ubuntu-minimal/package-installs.yaml
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

remove unicode from code
  doc/source/conf.py
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image

Make tox.ini compatible with recent tox versions
  tox.ini
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image

Fix installation of EPEL in recent versions
  tools/docker_builder.sh
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Drop unnecessary export
  tools/docker_builder.sh
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Adjust qemu package name for Ubuntu Noble (24.04)
  bin/manila-image-create
  zuul.d/project.yaml
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Add note about requirements lower bounds
  requirements.txt
  test-requirements.txt
Due: none

Replace UPPER_CONSTRAINTS_FILE
  tox.ini
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image

fix: fetch-public-ssh-keys service targets
  elements/manila-ssh/install.d/fetch-public-ssh-keys.service
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

CI: Add publish jobs to periodic pipeline
  zuul.d/project.yaml
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Modernize container driver docker image
  data/docker/Dockerfile
  data/docker/dbus.sh
  data/docker/entrypoint.sh
  data/docker/ganesha.conf
  data/docker/ganesha.sh
  data/docker/rpcbind.sh
  data/docker/samba.sh
  playbooks/manila-buildimage-docker/run.yaml
  tools/docker_builder.sh
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Publish container image to quay.io
  playbooks/container-image-build.yaml
  playbooks/container-image-upload.yaml
  zuul.d/manila-image-elements-jobs.yaml
  zuul.d/project.yaml
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Fix quay.io credentials for container upload
  zuul.d/manila-image-elements-jobs.yaml
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Bump buildimages job timeout to 3600s
  zuul.d/manila-image-elements-jobs.yaml
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Add build step to container upload playbook
  playbooks/container-image-upload.yaml
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Add Lustre client image element
  bin/manila-image-create
  bindep.txt
  elements/lustre/README.rst
  elements/lustre/element-deps
  elements/lustre/environment.d/10-lustre-kernel.bash
  elements/lustre/post-install.d/80-lustre-client
  elements/manila-centos-minimal/post-install.d/50-manila-user
  elements/manila-centos-minimal/pre-install.d/00-centos-yum-update
  playbooks/manila-buildimages/run-lustre.yaml
  tools/gate/build-images
  zuul.d/manila-image-elements-jobs.yaml
  zuul.d/project.yaml
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Remove url tags from README
  README.rst
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image

Fix artifact publish rsync failure
  playbooks/manila-publish-artifacts/post.yaml
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Replace yum by dnf completely
  bin/manila-image-create
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario

Bump buildimages job timeout to 5400s
  elements/lustre/environment.d/10-lustre-kernel.bash
  zuul.d/manila-image-elements-jobs.yaml
Due: manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-scenario-custom-image, manila-image-elements-generic-scenario
